body {
	padding: 0;
  margin: 0;  
  overflow: hidden;
}

html, body, #map {
	height: 100%;
  background-color: white;
  font-family: 'Lato', sans-serif;
}

.leaflet-container {
  background-image: url('grid.png');
  background-repeat: repeat;  
}

html, body, #map,
a, a:visited, a:hover {
  color: rgb(68, 68, 68);
}

#box {
  text-align: right;
  
  background-color: none;
  width: 360px;

  top: 20px;  
  right: 30px;
  
  position: absolute;
  
  overflow-y: auto;
  overflow-x: hidden;
}

#box img {
  cursor: pointer;
  float: right;
  display: block;
}

p {
  width: 350px;
  font-size: 30px;  
  right: 0;
  margin: 0;
  float: right;
}

h2 {
  font-size: 60px;
  font-family: 'Cardo', serif;
  font-style: italic;
  margin: -10px 0;
}

.leaflet-control-attribution {
  display: none;
}
